body {
    margin :0;
    padding:0;
    background: url(tree.jpg);

    box-sizing: border-box;
    font-family: sans-serif;
}

.login {
    height: 400px;
    width: 300px;
    background-color: #00e3f3cb;
    color:#fff;
    top :50%;
    left : 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 15%;
}

.login h1 {
    text-align: center;
    padding:30px 0 15px;

}


.login input[type = "text"] , input[type = "password"] {
    outline: none;
    font-weight: bold;
    color :rgba(0, 0, 0, 0.993);
    border: none;
    border-bottom: solid 2px ;
    background: transparent;
    border-bottom-color: #fff;
    cursor: pointer;
    padding-bottom:10px;
    margin-left:10px;

}


.login input[type = "submit"] {
    border:none;
    outline: none;
    color : #000;
    background-color:rgba(236, 78, 197, 0.911);
    height: 30px;
    width:50%;
    border-radius: 20px;
    margin-left : 35px
}

.login a {
    color:rgba(172, 70, 146, 0.911);
    display: inline-block;
    text-decoration: none;
    padding-left:1rem;
}

form {
    padding-left: 50px;
}


.login input[type = "submit"]:hover {
    background-color : rgba(214, 32, 123, 0.911);
    transition: .4s;
    cursor: pointer;

}

.login a:hover {
    text-decoration: none;
    color :#000 ;
    transition: .4s;
    cursor: pointer;
}

.login p {
    margin-left:10px;
    margin-bottom:10px;
}

.nav-bar{
    background-color: #00e3f3cb;
    padding: 20px;
    display:flex;
    justify-content: space-around;

}

.nav-bar h1{
    margin:0;
    padding:0;
    letter-spacing: 1px;
    padding-top: 10px;
}

.nav-bar ul{
    margin:0;
    list-style-type: none;


}

.nav-bar a{
    text-decoration: none;
    padding-top:20px;
    font-weight: bold;
    color:rgb(243, 36, 191);

}

.nav-bar a:hover {
    color :#000;
    transition: .6s;
}

.nav-bar li {
    display:inline-block;
    padding : 20px;
}

.nav-bar span{
    color:rgb(243, 36, 191);
    font-weight: bold;

}

.website {
    font-weight: bold;
    font-size:1rem;
}

.icon{
    height: 4rem;
    border-radius: 50%;
    opacity: .9;
    position: absolute;
    top : -25px;
    left: calc(50% - 2rem);
    
}







































